.btn-hijau {
    position: relative;
    padding: 8px 13px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #1cc88a;
    border: 0;
    transition: 0.2s;
    overflow: hidden;
}

.btn-hijau input[type = "file"] {
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
}

.btn-hijau:hover {
    background-color: #14865d;
}

.input-group.upload-file {
    width: 6.25rem;
    height: 1.875rem;
}

.input-group.upload-file .custom-file {
    max-width: 100%;
    max-height: 100%;
}

.input-group.upload-file .custom-file .custom-file-label {
    max-width: 100%;
    max-height: 100%;
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
}

.input-group.upload-file .input-group-append {
    max-height: 100%;
}

.input-group.upload-file .input-group-append button {
    padding-top: 2px;
    padding-bottom: 2px;
}

.input-group.upload-file .input-group-append button i {
    font-size: 14px;
}